@import '../../common/colors.scss';

.card-item {
   display: flex;
   flex: 1 1 25%;

   &:last-child {
      .card-top {
         width: fit-content;
         height: fit-content;
         margin: 0;
         padding: 0;
      }
      .card-bottom {
         margin-left: -33.5%;
         .card-info {
            max-width: 40%;
            padding: 0;
            margin: 0;
         }
      }
   }
   .card-inner {
      width: 71.5%;
      .card-top {
         height: 19rem;
         cursor: pointer;
         img {
            max-width: 13rem;
            max-height: 19rem;
         }
      }
      .card-bottom {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: 97%;
         .card-info {
            cursor: pointer;
            margin: 1rem 0 3rem 0;
            width: 100%;
            h4,
            p {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
   .card-item {
      &:last-child {
         .card-bottom {
            margin-left: 0;
         }
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      .card-inner {
         width: 71.5%;
         .card-top {
            height: max-content;
         }
      }
   }
}
