.card-item {
   margin: 0;
   flex: 1 0 21%;
   transition: all 0.2s;
   &:hover {
      scale: 1.07;
   }

   .card-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1.5rem 0;
      padding: 0;
      .card-top {
         height: 19rem;
         img {
            max-height: 19rem;
            max-width: 13rem;
         }
      }
      .card-bottom {
         margin: auto;
         align-content: center;
         max-width: 90%;
         .card-info {
            width: 85%;
            margin: 1rem auto;
            text-align: center;
         }
      }
   }

   &:nth-last-child(1) {
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: start;
      margin-right: 45%;
   }
   &:nth-last-child(2) {
      padding-right: 4.4%;
   }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
   .card-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 14%;
      &:last-child {
         margin-left: 50%;
      }
      .card-inner {
         width: 71.5%;
         .card-top {
            height: max-content;
         }
      }
   }
}
