@import '../../common/colors.scss';

.movie-list {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: center;
   margin: 5% auto;

   h2 {
      color: $font-secondary;
      margin-bottom: 2%;
      font-weight: 400;
      font-size: 1.5rem;
   }
}

.movie-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   width: 90%;
   margin: auto;
   & > :last-of-type {
      flex: 1 1 75%;
   }

   h4,
   p {
      color: $font-primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
   }
}
