@import '../../common/colors.scss';

.header {
   background: $secondary-color;
   height: 72px;
   padding: 0 7rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   color: $font-primary;
   font-size: 1.2rem;
   font-weight: 600;
}

.user-image,
.user-image img {
   width: 2.8rem;
   height: 2.8rem;
}

.search-bar {
   width: 50%;
   display: flex;
   justify-content: center;
   form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      input {
         font-size: 1rem;
         padding-left: 1rem;
         width: 100%;
         border-radius: 8px;
         border-top-right-radius: 0px;
         border-bottom-right-radius: 0px;
         border: none;
         outline: none;
         height: 2.1rem;
      }
      button {
         height: 2.2rem;
         padding: 0 8px;
         font-size: 20px;
         cursor: pointer;
         border-radius: 8px;
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
         color: $font-primary;
         background: $font-secondary;
         border: $font-primary 2px solid;
      }
   }
}
